<html>
    
 

    <body>
       
<div class="card">
  
  
    <div class="card-header">
      <h4 class="card-title"> Lista de Materia Prima</h4>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong [routerLink]="['/agregarmateriaprima']">  Agregar +</strong>
              
            </a>
            
          </div>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong [routerLink]="['/agregarproducto']">  Comprar</strong>
              
            </a>
            
          </div>
        </div>
      </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            
            <th>
              Nombre Producto
            </th>
            
            <th >
              Stock
            </th>
              <th >
                Disponible
              </th>
              <th class="text-right">
                Imagen
              </th>
              
              <th class="text-right"> 
               Acciones
              </th>
          </thead>
          <tbody>
            <tr>
              <td>
                Dakota Rice
              </td>
              <td>
                Niger
              </td>
              <td>
                Oud-Turnhout
              </td>
              
              <td class="text-right">
                $36,738
              </td>
              <td class="text-right" >
                <div class="text-right" >
                  <button [routerLink]="['/descripcionmateriaprima']" class="button is-info" style="margin: 2px">Ver detalles</button>
                  <td>
                  </td >
                </div>
              </td>
            </tr>
            <tr>
              <td>
                Minerva Hooper
              </td>
              <td>
                Curaçao
              </td>
              <td>
                Sinaai-Waas
              </td>
              <td class="text-right">
                $23,789
              </td>
            </tr>
            <tr>
              <td>
                Sage Rodriguez
              </td>
              <td>
                Netherlands
              </td>
              <td>
                Baileux
              </td>
              <td class="text-right">
                $56,142
              </td>
            </tr>
            <tr>
              <td>
                Philip Chaney
              </td>
              <td>
                Korea, South
              </td>
              <td>
                Overland Park
              </td>
              <td class="text-right">
                $38,735
              </td>
            </tr>
            <tr>
              <td>
                Doris Greene
              </td>
              <td>
                Malawi
              </td>
              <td>
                Feldkirchen in Kärnten
              </td>
              <td class="text-right">
                $63,542
              </td>
            </tr>
            <tr>
              <td>
                Mason Porter
              </td>
              <td>
                Chile
              </td>
              <td>
                Gloucester
              </td>
              <td class="text-right">
                $78,615
              </td>
            </tr>
            <tr>
              <td>
                Jon Porter
              </td>
              <td>
                Portugal
              </td>
              <td>
                Gloucester
              </td>
              <td class="text-right">
                $98,615
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
      
    </body>
    <main class="column">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="title">Balance</div>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button type="button" class="button is-small">
              March 8, 2019 - April 6, 2020
            </button>
          </div>
        </div>
      </div>
      
      <div class="columns is-multiline">
        <div class="column">
          <div class="box">
            <div class="heading">Ventas</div>
            <div class="title">56,950</div>
            <div class="level">
              <div class="level-item">
                <div class="">
                  <div class="heading">Sales $</div>
                  <div class="title is-5">250,000</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">Overall $</div>
                  <div class="title is-5">750,000</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">Sales %</div>
                  <div class="title is-5">25%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="heading">Materia Prima</div>
            <div class="title">55% / 45%</div>
            <div class="level">
              <div class="level-item">
                <div class="">
                  <div class="heading">Rev Prod $</div>
                  <div class="title is-5">30%</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">Rev Serv $</div>
                  <div class="title is-5">25%</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">Exp %</div>
                  <div class="title is-5">45%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="heading">Produccion</div>
            <div class="title">78% &uarr;</div>
            <div class="level">
              <div class="level-item">
                <div class="">
                  <div class="heading">Positive</div>
                  <div class="title is-5">1560</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">Negative</div>
                  <div class="title is-5">368</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">Pos/Neg %</div>
                  <div class="title is-5">77% / 23%</div>
                </div>
              </div>
            </div>
          </div>
        </div>

