<html>
    <header>

    </header>
    
    <body>
       
<div class="card">
    <div class="card-header">
        <div>
             
        </div>
      <h4 class="card-title"> Proveedor list</h4>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong [routerLink]="['/agregarproducto']">  Agregar Materia Empaque</strong>
              
            </a>
            
          </div>
        </div>
      </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <th>
              ID
            </th>
            <th>
              Nombre Producto
            </th>
            <th>
              Descripcion
            </th>
            <th class="text-right">
              Detalle Producto
            </th>
            <th class="text-right">
                proveedor
              </th>
              <th class="text-right">
                Cantidad
              </th>
              <th class="text-right">
                Precio Unitario
              </th>
              <th class="text-right">
                Precio Total
              </th>
             
              <th class="text-right">
                fecha
              </th>
              <th class="text-right">
               Acciones
              </th>
          </thead>
          <tbody>
            <tr>
              <td>
                Dakota Rice
              </td>
              <td>
                Niger
              </td>
              <td>
                Niger
              </td>
              <td>
                Oud-Turnhout
              </td>
              <td>
                Oud-Turnhout
              </td><td>
                arroz parmesano
              </td>
              
              <td class="text-right">
                $36,738
              </td>
              <td class="text-right">
                $36,738
              </td>
              <td class="text-right">
                $36,738
              </td>
              <td class="text-right">
                $36,738 
              </td>
              
              <td class="text-right">
           
              </td>
              <td class="text-right">
                <div class="table-responsive">
                  
                  <button class="button is-warning"> <a>Editar ___ </a> <a>Eliminar</a> </button>
                  
                </div>
                    
              </td>
              
            </tr>
            <tr>
              <td>
                Minerva Hooper
              </td>
              <td>
                Curaçao
              </td>
              <td>
                Sinaai-Waas
              </td>
              <td class="text-right">
                $23,789
              </td>
            </tr>
            <tr>
              <td>
                Sage Rodriguez
              </td>
              <td>
                Netherlands
              </td>
              <td>
                Baileux
              </td>
              <td class="text-right">
                $56,142
              </td>
            </tr>
            <tr>
              <td>
                Philip Chaney
              </td>
              <td>
                Korea, South
              </td>
              <td>
                Overland Park
              </td>
              <td class="text-right">
                $38,735
              </td>
            </tr>
            <tr>
              <td>
                Doris Greene
              </td>
              <td>
                Malawi
              </td>
              <td>
                Feldkirchen in Kärnten
              </td>
              <td class="text-right">
                $63,542
              </td>
            </tr>
            <tr>
              <td>
                Mason Porter
              </td>
              <td>
                Chile
              </td>
              <td>
                Gloucester
              </td>
              <td class="text-right">
                $78,615
              </td>
            </tr>
            <tr>
              <td>
                Jon Porter
              </td>
              <td>
                Portugal
              </td>
              <td>
                Gloucester
              </td>
              <td class="text-right">
                $98,615
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
      
    </body>
</html>
