<form action="">
<h1>Agregar Proveedor</h1>
 
</form>
<div class="card" style="width: 50rem;">
    
    <div class="card-body">
        <div class="card" style="width: 20rem;">
            <img src="/assets/Imagenes/img1.jpg"  aling="is-centered">
            <div class="field">
                <div class="file is-primary">
                  <label class="file-label">
                    <input class="file-input" type="file" name="resume">
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">
                        Cargar Imagen
                      </span>
                    </span>
                  </label>
                </div>
              </div>
            
          </div>

      <form class="row g-3 needs-validation" novalidate>
        <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Nombre</label>
            <input type="text" class="form-control"  required>
           
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Ruc</label>
            <input type="text" class="form-control"  required>
           
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Direccion</label>
            <input type="text" class="form-control"  required>
           
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Tipo</label>
            <input type="text" class="form-control"  required>
           
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Correo Electronico</label>
            <input type="text" class="form-control"  required>
           
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Responsable</label>
            <input type="text" class="form-control"  required>
           
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Telefono</label>
            <input type="text" class="form-control"  required>
           
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Codigo</label>
            <input type="text" class="form-control"  required>
           
          </div>
        
       
       
      </form>
      
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Guardar</strong>
              
            </a>
            
          </div>
        </div>
      </div>
    
  </div>
  
     



