<div>
    <body>
   
        <div class="card">
            <div class="card-header">
              <h4 class="card-title"> Agregar Proveedor</h4>
            </div>
            <div class="card-body">
              
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      id
                    </th>
                    <th>
                      Nombre Empresa
                    </th>
                    <th>
                      Producto Ofrecido
                    </th>
                    <th class="text-right">
                      Estado
                    </th>
                    <th class="text-right">
                        fecha
                      </th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div >
    
                            <input class="input" type="text"  placeholder="Cod">
                          </div>
                      </td>
                      <td>
                        <div >
    
                            <input class="input" type="text"  >
                          </div>
                      </td>
                      <td>
                        <div >
    
                            <input class="input" type="text"  >
                          </div>
                      </td>
                      <td>
                        <div >
    
                            <input class="input" type="number"  >
                          </div>
                      </td>
                      <td >
                        <div >
    
                            <input class="input" type="number"  >
                          </div>
                      </td>
                    
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </div>
            
          
           </body>
     </div>
  
     <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Guardar</strong>
              
            </a>
            
          </div>
        </div>
      </div>
      


