<div class="hero-body" >
        
    <div class="container"  >
      
      <div class="columns is-centered" >
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <div class="card-header">
              <h4 class="card-title"> Sistema de Inventarios Vitarrico</h4>
            </div>
          <form action="" class="box">
            <div class="field">
              <label for="" class="label">Nombre</label>
              <div class="control has-icons-left">
                <input type="text" placeholder="user" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
                <label for="" class="label">Apellido</label>
                <div class="control has-icons-left">
                  <input type="text" placeholder="apellido" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Correo electronico</label>
                <div class="control has-icons-left">
                  <input type="email" placeholder="wk@gmail.com" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Rol</label>
                <div class="control has-icons-left">
                  <input type="email" placeholder="rol" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
            <div class="field">
              <label for="" class="label">Contraseña</label>
              <div class="control has-icons-left">
                <input type="password" placeholder="*******" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
                <label for="" class="label">Confirmar Contraseña</label>
                <div class="control has-icons-left">
                  <input type="password" placeholder="*******" class="input" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>
            <div class="field">
              <label for="" class="checkbox">
                <input type="checkbox">
               Recordar mi Contraseña
              </label>
            </div>
            <div class="field">
              <button class="button is-success" style="margin: 10px">
                Login
              </button>
              <button class="button is-success" style="margin: 10px">
                  Registrarse
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

